* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
$main-font: "Poppins", sans-serif;

body {
    font-family: $main-font;
}
#hero {
    padding: 0 40px;
    margin: 50px 5%;
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 56px;
            font-weight: bolder;
            font-family: $main-font;
            position: relative;
            padding: 0 30px 0 0;
            text-transform: uppercase;
        }
        .bg {
            z-index: 1;
            display: inline-block;
        }
        .bg::after {
            content: "";
            background-color: white;
            width: 100%;
            transform: rotate(-1deg);
            height: 100%;
            position: absolute;
            left: 0;
            z-index: -1;
        }
        .bg1::after {
            background-color: #ebd96b;
        }
    }
}

#newarrivals {
    padding: 0 5%;
    margin: 50px 0;
    h1 {
        font-family: $main-font;
        font-weight: bolder;
        font-size: 2rem;

        background-image: url("./images/leaf.png");
        background-repeat: no-repeat;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        margin: 20px 0;
        .card {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            justify-content: space-between;
            h2 {
                font-weight: bold;
                font-size: 18px;
            }
            h3 {
                font-size: 16px;
                color: #7f7f7f;
            }
        }
    }
}
#ad-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: #feee62;
    background: linear-gradient(
        1.32deg,
        #e0c340 0.13%,
        #dfc23e 3.97%,
        #e1c441 7.2%,
        #e3c743 10.13%,
        #e4c542 12.98%,
        #e6c744 15.99%,
        #e7c845 19.52%,
        #e5c643 23.96%,
        #e6c945 30.43%,
        #e3c743 36.49%,
        #e9ca48 42.49%,
        #edce49 49.35%,
        #f0d44c 55.42%,
        #f4d84f 61.43%,
        #f6da52 65.74%,
        #f7db53 72.23%,
        #f9dd55 77.43%,
        #f9df56 83.84%,
        #fae157 91.52%,
        #f9df56 97.87%
    );
    padding: 50px 5%;
    img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 56px;
            font-weight: bolder;
            font-family: $main-font;
            position: relative;
            padding: 0 30px 0 0;
            text-transform: uppercase;
        }
        .bg {
            z-index: 1;
            display: inline-block;
        }
        .bg::after {
            content: "";
            background-color: white;
            width: 100%;
            transform: rotate(-1deg);
            height: 100%;
            position: absolute;
            left: 0;
            z-index: -1;
        }
        h5 {
            font-weight: bold;
            margin-top: 20px;
        }
    }
}
#favourite {
    padding: 0 5%;
    margin: 50px 0;
    h1 {
        font-family: $main-font;
        font-weight: bolder;
        font-size: 2rem;

        background-image: url("./images/leaf.png");
        background-repeat: no-repeat;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        margin: 20px 0;
        .card {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            justify-content: space-between;
            h2 {
                font-weight: bold;
                font-size: 18px;
            }
            h3 {
                font-size: 16px;
                color: #7f7f7f;
            }
        }
    }
}
